services:
  web:
    build: ./server
    working_dir: /usr/src/app/project
    command: uwsgi --socket 0.0.0.0:5000 --enable-threads --protocol=http -w wsgi:app
    volumes:
      - ./instance:/usr/src/app/project/instance
      - ./calendars:/usr/src/app/project/calendars
      - ./logs:/usr/src/app/project/logs
    ports:
      - 5001:5000
