:root {
    --color-bg1: rgb(108, 0, 162);
    --color-bg2: rgb(0, 17, 82);
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
}

.gradient-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    z-index: -100;
}

@keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
}

.gradients-container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
}

.g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.5) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
  
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(10% - var(--circle-size) / 2);
    left: calc(10% - var(--circle-size) / 2);
  
    transform-origin: center center;
    animation: moveVertical 40s ease infinite;
  
    opacity: 1;
}
  
.g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.5) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
  
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(90% - var(--circle-size) / 2 + 200px);
    left: calc(10% - var(--circle-size) / 2 - 500px);
  
    transform-origin: calc(50% + 300px);
    animation: moveInCircle 60s linear infinite;
  
    opacity: 0.8;
}
  
.g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.5) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
  
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(10% - var(--circle-size) / 2);
    left: calc(90% - var(--circle-size) / 2);
  
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 60s ease infinite;
  
    opacity: 0.2;
}
  
.g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.5) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
  
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(90% - var(--circle-size));
    left: calc(90% - var(--circle-size));
  
    transform-origin: calc(50% - 300px) calc(50% + 150px);
    animation: moveInCircle 60s ease infinite;
  
    opacity: 0.5;
}