
html, body {
    font-family: 'Dongle', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color:white;
    display: flex;
    flex-direction: column;
}

p {
  margin-bottom: 0;
}

.home-text-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  z-index: -99;
  color: white;
  opacity: 0.8;
  user-select: none;
  text-shadow: 1px 1px rgba(0,0,0,0.1);
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #007bff;
}

.itemTable {
  width: 100%;
  border-collapse: collapse;
}

.itemTable td {
  border: 1px solid transparent;
  padding: 8px;
}

.itemTable tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.75);
}

.itemTable tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.itemTable input {
  width: 20px;
  height: 20px;
  accent-color: black;
  vertical-align:middle;
  margin-right:10px;
}

form button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 2px;
  background: var(--color4);
}

form button:hover {
  background: var(--color4);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--color-bg1),
              0 0 25px var(--color-bg1),
              0 0 50px var(--color-bg1),
              0 0 100px var(--color-bg1);
}

form#semesterItemForm button,
form#moduleItemForm button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.flex-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

.wrapper {
  flex: 1;
  font-size: 12px;
  max-width: 1536px;
  margin: 0 auto 2em;
}

.footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1536px;
  width: 100%;
}

.logo img {
  height: 40px;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navbar ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.user {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.user-content {
  display: flex;
  justify-content: right;
  align-items: center;
  max-width: 1536px;
  width: 100%;
}

.user ul li {
  display: inline-block;
  margin-right: 20px;
}

.user ul li:last-child {
  margin-right: 0;
}

.center-text {
  text-align: center;
}

.link-box {
  display: inline-block;
  padding: 12px 20px;
  border: 2px solid #ffffff; /* White border */
  border-radius: 5px;
  background-color: rgba(240, 240, 240, 0.2); /* Slightly transparent light gray background */
  color: white;

  transition: background-color 0.3s ease;
  font-size: 20px;
}

.link-box:hover {
  background-color: rgba(240, 240, 240, 0.8);

  color: #000000;
}

.bottom-space {
  margin-bottom: 200px;
}

.alertContainer {
  flex: content;
  display:flex; justify-content: center;
  min-height:70px;
}

.calendar-feed {
  margin: 10px 8px 10px 8px;;
  display: inline-block;
}

.faq-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.faq-container p {
  font-size: 16px;
  line-height: 1.5;
}

.link {
  text-decoration: solid;
  color: palevioletred;
}

.link:hover {
  text-decoration: underline;
  color: #b66f81;
}