<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <title>Dashboard</title>
</head>

<body>
    <form id="dateForm">
        <label for="dateInput">start date:</label>
        <input type="date" id="startDateInput" name="startDateInput">
        <label for="dateInput">end date:</label>
        <input type="date" id="endDateInput" name="endDateInput">
        <button type="submit" id="submitDateButton">Submit</button>
        <button type="reset" id="resetDateButton">Reset</button>
    </form>
      
    <a href="{{url_for('logout')}}">logout</a>

    <h2>Select your Semesters</h2>
    <form id="semesterItemForm">
        <table id="semesterItemTable" class="itemTable">
            <!-- Selection elements will be dynamically added here -->
        </table>
        <button type="submit" id="submitsemesterButton">Submit</button>
    </form>

    <h2>Select your Modules</h2>
    <form id="moduleItemForm">
        <table id="moduleItemTable" class="itemTable">
            <!-- Selection elements will be dynamically added here -->
        </table>
        <button type="submit" id="submitmoduleButton">Submit</button>
    </form>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>

</html>