<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Dashboard</title>
</head>

<body>
    <div class="gradient-bg">
        <div class="gradients-container">
            <div class="g1"></div>
            <div class="g2"></div>
            <div class="g3"></div>
            <div class="g4"></div>
        </div>
    </div>
    <div class="top-right">
        <a href="{{url_for('logout')}}">Log Out</a>
    </div>
    <form id="dateForm">
        <label for="dateInput">Start:</label>
        <input type="date" id="startDateInput" name="startDateInput">
        <label for="dateInput">End:</label>
        <input type="date" id="endDateInput" name="endDateInput">
        <button type="submit" id="submitDateButton">Submit</button>
        <button type="reset" id="resetDateButton">Reset</button>
    </form>

    <h2>Select your Semesters</h2>
    <form id="semesterItemForm">
        <table id="semesterItemTable" class="itemTable">
            <!-- Selection elements will be dynamically added here -->
        </table>
        <button type="submit" id="submitsemesterButton">Submit</button>
    </form>

    <h2>Select your Modules</h2>
    <form id="moduleItemForm">
        <table id="moduleItemTable" class="itemTable">
            <!-- Selection elements will be dynamically added here -->
        </table>
        <button type="submit" id="submitmoduleButton">Submit</button>
    </form>
    <span>ICalendar Link</span>
    <a href="/ical/{{ current_user.username }}">https://yourical.de/ical/{{ current_user.username }}</a>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>

</html>