<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block additionalstyle %}{% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <img class="burger" id="id_burger" src="{{ url_for('static', filename='images/burger.png') }}">


    <div class="header-content">
        <ul class="navbar1" id="id_navbar">
            <li>
                <div class="logo">
                    <a class="navbar_link"  href="{{ url_for('index') }}">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
                    </a>
                </div>
            </li>
            <li><a class="navbar_link" href="{{ url_for('faq') }}">FAQ</a></li>
            <li><a class="navbar_link" href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a class="navbar_link" href="{{ url_for('privacy_policy') }}">Datenschutz</a></li>
            {% if current_user.is_authenticated %}
                <li><a class="navbar_link" href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a class="navbar_link" href="{{ url_for('login') }}">Login</a></li>
            <li><a class="navbar_link" href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="wrapper">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">

        <p>&copy; 2024 yourical.de - Max H. & Silas F.</p>
    </footer>

    <div class="gradient-bg">
        <div class="gradients-container">
            <div class="g1"></div>
            <div class="g2"></div>
            <div class="g3"></div>
            <div class="g4"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="application/javascript"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}" type="application/javascript"></script>
    <script src="{{ url_for('static', filename='js/header.js') }}" type="application/javascript"></script>
    {% block additionaljavascript %}{% endblock %}
</body>

</html>
