{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="home-container">
        <div class="home-text">Yourical</div>

        <img src="{{ url_for('static', filename='images/index_image.png') }}" width="20%" style="min-width: 200px;">
        <h5>{{ user_count }} Nutzer haben sich bereits registriert!</h5>
        <h5>{{ active_user_count }} nutzen aktiv ihr persönliches URL-Abo!</h5>
        <div class="links-container">
            {% if current_user.is_authenticated %}
                <div class="my-3">
                    <h2>Dein Kalender</h2>
                    <a href="{{ domain }}/ical/{{ current_user.username }}" class="link-box" onclick="copyLink(event)">{{ domain }}/ical/{{ current_user.username }}</a>
                </div>

            {% else %}
                <div class="my-3">
                    <h2>Erstelle deinen Kalender</h2>
                    <h5 class="my-1"><a href="{{ domain }}/register" class="link-box" >{{ domain }}/DeinKalender</a></h5>
                </div>
            {% endif %}

            <div class="my-3">
                <h2>Abonniere aktuelle SIA-Events</h2>
                <h5 class="my-1"><a href="{{ domain }}/sia" class="link-box" onclick="copyLink(event)">{{ domain }}/Sia</a></h5>
            </div>
            <div class="my-3">
                <h2>Wie es funktioniert:</h2>
                <h5 class="mt-2">Hier erfährst du, wie du einen Link RICHTIG <a href="{{ url_for('faq') }}" class="link">zu deinem Kalender hinzufügen</a> kannst</h5>
            </div>
        </div>
    </div>
{% endblock %}
