{% extends "base.html" %}

{% block additionalstyle %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_style.css') }}">
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="login-container">
        <div class="login-box">
            <h1>Login</h1>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="error-message-list">
                    {% for message in messages %}
                        <li class="error-message">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}

            <form method="POST" action="">
                <div>{{ form.username }}</div>
                <div>{{ form.password }}</div>
                <div>{{ form.hidden_tag() }}</div>
                <div>{{ form.submit }}</div>
            </form>

            <div class="mt-3"><a href="{{ url_for('register') }}" class="link">Don't have an account? Sign Up</a></div>
        </div>
    </div>
{% endblock %}
