{% extends "base.html" %}

{% block title %}
    FAQ
{% endblock %}

{% block content %}
    <div class="faq-container mt-2">
        <h2>IOS Calendar</h3>
        <h5 class="mt-3">1. Gehe in der Kalender-App auf Kalender</h5>
        <img src="{{ url_for('static', filename='images/IOS_1.png') }}" width="30%" style="min-width: 150px;;">

        <h5 class="mt-3">2. Klicke auf der linken Seite auf "hinzufügen"</h5>
        <img src="{{ url_for('static', filename='images/IOS_2.png') }}" width="30%" style="min-width: 150px;;">

        <h5 class="mt-3">3. Wähle Kalenderabonnement</h5>
        <img src="{{ url_for('static', filename='images/IOS_3.png') }}" width="30%" style="min-width: 150px;;">

        <h5 class="mt-3">4. Gib hier deinen Link ein</h5>

        <a href="/ical/{{ current_user.username }}"></a>

        <img src="{{ url_for('static', filename='images/IOS_4.png') }}" width="30%" style="min-width: 150px;">

        <h5 class="mt-3">Die Daten werden dann automatisch von unserem Server bezogen und in eurem Kalender aktuell gehalten.</h5>
    </div>
{% endblock %}
